h1 {
        font-family: 'Open Sans', sans-serif;
        font-family: 'Raleway', sans-serif;
	color: #501B1D;
	border-bottom: 1px solid #ADADAD;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	width:1000px;
	margin:25 auto;
	text-align:justify;
	text-justify:inter-word;
}
div.polaroid {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {width: 100%}

div.container {
  text-align: center;
  padding: 10px 20px;
}
